<%inherit file="../base.html" />
<%! from django.shortcuts import reverse %>
<%def name="title()">管理</%def>
<%def name="content()">
<h1>欢迎来到 管理空间</h1>
<table id="admin_table">
    <thead>
        <tr>
            <th>用户名</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
        % for user in users:
        <tr>
            <td>${user.username}</td>
            <td>${user.is_superuser}</td>
            <td>${user.date_joined}</td>
            % if user.is_superuser:
            <td><a href="${reverse('admin_update_status')}?status=off&user_id=${user.id}">取消管理员</a></td>
            %else:
            <td><a href="${reverse('admin_update_status')}?status=on&user_id=${user.id}">设置管理员</a></td>
            % endif
        </tr>
        % endfor
    </tbody>
</table>
% if current_page > 1 :
<a class="left" href="${reverse('dashboard_admin')}?page=${current_page-1}">上一页</a>
% endif
% if current_page < total:
<a class="right" href="${reverse('dashboard_admin')}?page=${current_page+1}">下一页</a>
% endif
</%def>

<%def name="css()">
<link href="/static/dashboard/css/admin.css" rel="stylesheet">
</%def>